@model object

@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Homepage</h1>
<p>Fuc Manager</p>


@{/*@if (Request.IsAuthenticated)
  {
    @Html.ActionLink("Create New Fuc", "Create", "NewFucProposal")<br />
    @Html.ActionLink("Fuc Proposal List", "Index", "Proposal")<br />
    @Html.ActionLink("New Fuc Proposal List", "Index", "NewFucProposal")<br />
  }

@Html.ActionLink("Fuc List", "Index", "Fuc")<br />*/}
