@using CourseAplicationLib
@model IEnumerable<FucProposal>

@{
    ViewBag.Title = "New Fuc Proposal List";
}      
<h1>New Fuc Proposal List</h1>

@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">

 @Html.Partial("Pagination")
 </div>

   <div style="margin-top: 40px">
 <table class="elems_table">
 <tbody>
 <tr><td>
 <ul>
     <li class="elems_table_first">
        <table>
   <tr>
            <th class="order">Proposal</th>
            <th class="order">Acronym</th>
            <th class="order">Creator</th>
            <th>Aproval</th>
        </tr>
            <tbody id="elems">
             @Html.Partial("PIndex")
            </tbody>  
        </table>
      </li>

 
    <li class="elems_table_second"> <div id="showDetail"></div></li>
 </ul>
    </td>
    </tr>
     </tbody> 
    </table>
 </div>
