@using CourseAplicationLib
@model IEnumerable<FucProposal>

@{
    ViewBag.Title = "New Fuc Proposal List";
}      
<a href=@Url.Action("Index", "Home")>Home</a>
<h1>Fuc Proposal List</h1>

<ul>
@foreach (var f in Model){
        <li> <a href=@Url.Action("Detail", "Proposal",new { @id = f.Id }) >@f.Id</a></li>
}
</ul>
