@using CourseAplicationLib
@model IEnumerable<FucProposal>

@{
    ViewBag.Title = "New Fuc Proposal List";
}      
<h1>New Fuc Proposal List</h1>

@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">

 @Html.Partial("Pagination")
 </div>

<div>
   <table border="1">
   <tr>
            <th class="order">Proposal</th>
            <th class="order">Acronym</th>
            <th class="order">Creator</th>
            <th>Aproval</th>
        </tr>
  @Html.Partial("PIndex")
    </table> 
</div>
  <div id="showDetail"></div>


