@using CourseAplicationMVC.Models
@model UserProfile

@{
    ViewBag.Title = "Test";
}
 
<h1>Test</h1>

<img src="@(String.IsNullOrEmpty(Model) ? "" : Model)" id="profileImage" />

@using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { @encType = "multipart/form-data" }))
   {
     @Html.DisplayFor(x => x.ImageUrl)<br/>
     
     <input type="submit" name="submit" text="upload" />
   }
}