@using CourseAplicationLib
@model IEnumerable<FucProposal>

@{
    ViewBag.Title = "Fuc Proposal List";
}     
<h1>Fuc Proposal List</h1>


@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">

 @Html.Partial("Pagination")
 </div>

 
<div>
   <table border="1" id="elems">
    @Html.Partial("PIndex")
    </table>
</div>
<div id="showDetail"/> 

