@model System.Collections.Generic.IEnumerable<CourseAplicationLib.FucProposal>

@{
    ViewBag.Title = "title";

}

<h1>Proposal List</h1>

@Html.ActionLink("Pagination On", "Index", new { @pagination = true }, new { @id ="paging" })


<div>
   <table border="1" id="elems">
        @Html.Partial("PIndex")
    </table>
</div>
<div id="showDetail"/> 

