@using CourseAplicationLib
@model IEnumerable<FucProposal>

@{
    ViewBag.Title = "Fuc Proposal List";
}     
<h1>Fuc Proposal List</h1>


@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">

 @Html.Partial("Pagination")
 </div>

 
 <div>
 <table class="elems_table">
 <tbody>
 <tr><td>
 <ul>
     <li class="elems_table_first">
        <table>
   
        <tr>
            <th class="order">Proposal</th>
            <th class="order">Acronym</th>
            <th class="order">Creator</th>
            <th>Aproval</th>
        </tr>
    @Html.Partial("PIndex")
    </table>
      </li>

 
    <li class="elems_table_second"> <div id="showDetail"></div></li>
 </ul>
    </td>
    </tr>
     </tbody> 
    </table>
 </div>
