@model System.Collections.Generic.IEnumerable<CourseAplicationLib.FucProposal>

@{
    ViewBag.Title = "title";

}
  <tbody id="elems">
        @foreach (var f in Model)
        {
        
            <tr>
                <td><a href=@Url.Action("Detail", "Proposal", new { @id = f.Idx }) class="detailer"> Proposal @f.Idx</a></td>
                <td><a href=@Url.Action("Detail", "Proposal", new { @id = f.Idx }) class="detailer">@f.Acr</a></td>
                <td><a href=@Url.Action("Detail", "Profile", new { @id = f.User }) class="detailer"> @f.User</a></td>
                <td>
                    @using (Html.BeginForm("Accept", "Proposal", new {@id=f.Idx}, FormMethod.Post))
                    {
                        <input type="submit" value="Accept"/>
                    }
                    
                    @using (Html.BeginForm("Refuse", "Proposal", new {@id=f.Idx}, FormMethod.Post))
                    {
                        <input type="submit" value="Refuse"/>
                    }
                </td>
            </tr>  
        }
</tbody>