@{
    ViewBag.Title = "Pagination";
}

   <div id="pages">
        <div>Page <input id="pageinput" type="text" style="width:15px;"> of <span id="totalp"></span></div>
         <div id="selector">
             <a href="?page=@ViewData["pageprev"]&itemsnumber=@ViewData["itemsnumber"]" id="prev" >prev</a>
             <a href="?page=@ViewData["pagenext"]&itemsnumber=@ViewData["itemsnumber"]" id="next" >next</a>
         </div>
         <div>Results Per Page:
         <select id="DisplayNum">
            <option selected="selected" value="5">5</option>
            <option  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>  
         </select>
         </div>
    </div>
