@using CourseAplicationLib
@using CourseAplicationMVC.Models
@model SelectList

@{
    ViewBag.Title = "title";
}

<h1>Manage User Roles</h1>

@using (Html.BeginForm("Admin", "Account", FormMethod.Post))
{

    @Html.DropDownList("user", Model)<br/>

foreach (var s in @Roles.GetAllRoles())
{
        @Html.Label(s)
        <input type="checkbox" value="@s" name="roles"/> <br/>
}
           <input type="submit" value="submit" />
}


