@model System.Collections.Generic.IEnumerable<CourseAplicationLib.Fuc>

@{
    ViewBag.Title = "title";
}

<h1>Fuc List</h1>
@Html.ActionLink("Pagination On", "Index", new { @pagination = true }, new { @id ="paging" })

    <table id="elems">
   @Html.Partial("PIndex")
    </table>