@model System.Collections.Generic.IEnumerable<CourseAplicationLib.Fuc>

@{
    ViewBag.Title = "title";
}

<h1>Fuc List</h1>
@Html.ActionLink("Pagination On", "Index", new { @pagination = true }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">
 </div>


    <table >
        <thead>
    <tr><th class="order">Fuc Name</th></tr>
    </thead>

   @Html.Partial("PIndex")

    </table>
    <div id="showDetail"/> 