@using CourseAplicationLib
@model IEnumerable<Fuc>

@{
    ViewBag.Title = "Fuc List";
}      

<h1>Fuc List</h1>
@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 <input type="hidden" id="totalelems" value="@ViewData["totalitems"]"/>
<div id="pager">

 @Html.Partial("Pagination")
 </div>

    <table>
        <thead>
    <tr><th class="order">Fuc Name</th></tr>
    </thead>  
   @Html.Partial("PIndex")
    </table>
    <div id="showDetail"/> 
