@model System.Collections.Generic.IEnumerable<CourseAplicationLib.Fuc>

@{
    ViewBag.Title = "title";
}

<h1>Fuc List</h1>
@Html.ActionLink("Pagination On", "Index", new { @pagination = true }, new { @id ="paging" })

    <table id="elems">
    <thead>
    <tr><th>Fuc Name</th></tr>
    </thead>
    <tbody>

        @foreach (var f in Model)
        {
            <tr>
                <td> <a href=@Url.Action("Detail", "Fuc", new { @id = f.Acr }) >@f.Name</a></td>
            </tr>
        }
        
     </tbody>
    </table>