@model System.Collections.Generic.IEnumerable<CourseAplicationLib.Fuc>

@{
    ViewBag.Title = "title";
}

@foreach (var f in Model){
    <tr>
        <td> <a class="detailer" href=@Url.Action("Detail", "Fuc",new { @id = f.Acr }) >@f.Name</a></td>
        <td> <a class="detailer" href=@Url.Action("Detail", "Fuc",new { @id = f.Acr }) >@f.Acr</a></td>
    </tr>
}