
.page_content 
{
    margin: 10px auto;
    min-width: 1050px; 
    max-width: 1050px;
    text-align: center;
    
    /*position: absolute;
    float:left;
    text-align: left;
    padding: 20px;*/
    background-color: white;
}
.page_content a
{
    color: brown;
}

.page_content_body {
   border: 3px solid darkgray; 
    padding: 10px; 
    background:#eee;
    margin: 0 auto;
    
}
 
#pager {
    float: left;
     width:100%;
    
}
#pages 
{
     width:100%;
    float: left;
    
}

#showDetail {


}

.elems_table table 
{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
    width: 100%;
}
.elems_table table th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
.elems_table table td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}


.pages_table, .elems_table{
    width: 100%;
    border:0;
}

.pages_table ul, .elems_table ul
{
    padding:0;
    margin:0; 
    width:100%;
    }
.elems_table_first  {

       list-style-type:none;
     float:left; 
     margin:4px 4px 4px 0px;
     line-height:25px; 
     text-align:center;
     font-size:80%;
     border-radius: 5px;
     min-width: 40px;
     width: 30%;
}

.elems_table_second {

    list-style-type:none;
     float:left; 
     margin:4px 4px 4px 0px;
     line-height:25px; 
     text-align:center;
     font-size:80%;
     color:#fff; 
     background-color: #5C6262;
     border-radius: 5px;
     min-width: 40px;
     width: 69%;
}
.pages_table ul li {

     list-style-type:none;
     float:left; 
     margin:4px 4px 4px 0px;
     line-height:25px; 
     text-align:center;
     font-size:80%;
     color:#fff;
     background-color:#5c6262; 
     border-radius: 5px;
     min-width: 40px;
}
 .pages_table input,.pages_table select{
     font-size:90%;
 }
.pages_table ul li a {
    
    background-color: #CCC;
    display: block;
}
#selector {
    float: left;
    
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
