
/* css necessário para exemplo de autosuggest
#suggest{
 	position:absolute;
 	background:#fff;
 	width:150px;
 	}
 
 #suggest div{
 	background:#fff;
 	color:#000;
 	padding-left:4px;
 	cursor:hand;
 	text-align:left;
 	}
 
 #suggest div.over{
 	color:#fff;
 	background:#000;
 	}
*/
.autocomplete {
    font-family: Tahoma;
    font-size: 8pt;
    background-color: rgb(245, 244, 244);
    border: 1px solid black;
    position: absolute;
    cursor: default;
    overflow: auto;
    overflow-x: hidden;
}

.autocomplete_item {
    padding: 1px;
    padding-left: 5px;
    color: black;
    width: 100%;
}

.autocomplete_item_highlighted {
    padding: 1px;
    padding-left: 5px;
    color: white;
    background-color: #bdbfc6;
}







/*------------------------------------------------------------------------
 Layout Stylesheet
 ------------------------------------------------------------------------*/


/* Global Properties
 ------------------------------------------------------------------------*/
html, body { height:100%;}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	font-weight:normal;
	text-align:left;
	color:#999;
	background:#333
}


/* Header
 ------------------------------------------------------------------------*/

#header1 {
	z-index:999;
	left:0;
	top:0;
	height:90px;
	width:100%;
	min-width: 1000px;
	position: absolute;

}
.fixed { position:absolute; }
.absolute { position:absolute; }
#content-header {
	position:relative;
	margin:0 auto;
	width:1000px;
	height:80px;
}
#logo {
	position:absolute;
	left:0;
	top:10px;
}

/* Menu
 ------------------------------------------------------------------------*/
#main-menu {
	float:right;
	margin-top:30px;
	padding:0 18px 32px 18px;
}

#main_menu

{

	padding: 0 0.5em;

	float: left;

	margin: 0;

	width: 99%;

}

.dropmenu, .dropmenu ul

{

	text-transform:uppercase;

	font-size: 12px;

	list-style: none;

	line-height: 1em;

	padding: 0;

	margin: 0;

	font-weight: bold;

}

.dropmenu

{

	padding: 0 0.5em;

}

.dropmenu a

{

	display: block;

	color: #000;

	text-decoration: none;
	color: #999;
    cursor:pointer;
	
}
.dropmenu a:hover, .register a:hover {

    background:#3c556c;
    
    border-radius: 4px;
    -moz-border-radius: 4px;

	color: #fff;

	cursor: pointer;

	text-decoration: none;

}
.dropmenu a span

{

	display: block;

	padding: 0 0 0 5px;

	font-size: 0.9em;

}

.dropmenu li a

{

	margin-right: 8px;

}



.dropmenu li

{

    border-bottom:1px solid #292929;
	float: left;

	padding: 0;

	margin: 0;

	position: relative;

}

.register {
     background:#222;
      margin-top: 70px;
       height: 34px; 
       padding-top: 23px; 
       border-bottom: solid 1px #191919;
        outline: 1px solid #333; 
        text-align:center; 
        text-transform:uppercase; 
        font-size:10px;
}

.register_users_stats{ color: #990;}

#search 
{
    
    background: #111;
    margin-top: 25px;
    height: 29px;
    width: 600px;
    border: 1px solid #252525;
    outline: 5px solid #181818;
    border-radius: 3px; -moz-border-radius: 3px;
}