@using CourseAplicationLib
@model IEnumerable<Fuc>

@{
    ViewBag.Title = "New Fuc Proposal List";
}

<a href=@Url.Action("Index", "Create")>Create New Fuc</a>
<h1>Fields</h1>
        <a href=@Url.Action("Edit","Fuc")></a>