@model dynamic

@{
    ViewBag.Title = "Search title";
}

<h2>Search results</h2>
@Html.ActionLink("Pagination Off", "Index", new { @pagination = false }, new { @id ="paging" })

 @Html.Partial("Pagination")

    <table id="elems">
    <thead>
    <tr><th>Fuc Name</th></tr>
    </thead>
    <tbody>

        @foreach (var f in Model)
        {
            <tr>
                <td> <a href=@Url.Action("Detail", "Fuc", new { @id = f.Acr }) >@f.Name</a></td>
            </tr>
        }
        
     </tbody>
    </table>
